body{
    margin: 0;
    background: #fffec5;
}

form{
    width:500px;
    border: auto;
}

fieldset {
	background: #edb902;
	background-position: 3% 5%;
}

legend {
	font-size: 50px;
	font-style: italic;
	font-family: 'Arial';
}

sup{
    font-size: 0.6em;
}

table{
    width: 100%;
}

#result{
    background: #edb902;
    width: 500px;
    height: 100px;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid #492800;
}
